<!-- index.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  
  {% load static %} 
  <link rel="icon" href="{% static 'assets/favicon.ico' %}" />

  <link rel="stylesheet" href="{% static 'style.css' %}">
<!--   
  <link rel="stylesheet" href="scss/grid.css">
  <link rel="stylesheet" href="scss/header.css">
  <link rel="stylesheet" href="scss/heading.css">
  <link rel="stylesheet" href="scss/animations.css">
  <link rel="stylesheet" href="scss/page-scroll-arrows.css">
  <link rel="stylesheet" href="scss/reset.css">
  <link rel="stylesheet" href="scss/sign-up.css"> -->

</head>
<body onmousewheel="mouseWheelEvent(event)" id="body">
  <header>
    <h3>      
      <svg class="gUZ lZJ U9O kVc" height="32" width="32" viewBox="0 0 24 24" aria-label="Pinterest logo">
        <path d="M0 12c0 5.123 3.211 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.401-5.938 1.401-5.938s-.357-.715-.357-1.774c0-1.66.962-2.9 2.161-2.9 1.02 0 1.512.765 1.512 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.239 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.378-.293 1.189-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.769 2.737-7.229 7.892-7.229 4.144 0 7.365 2.953 7.365 6.899 0 4.117-2.595 7.431-6.199 7.431-1.211 0-2.348-.63-2.738-1.373 0 0-.599 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12">
        </path>
      </svg>
      Pinterest
    </h3>
        
    <nav>
      <ul>
        <li><a href="#">About</a></li>
      </ul>
      <ul>
        <li><a href="#">Business</a></li>
      </ul>
      <ul>
        <li><a href="#">Blog</a></li>
      </ul>
      
      <div class="buttons">
        <button  class="login"><a href="{% url 'login' %}" style="color:white;text-decoration:none;">Login</a></button>
        <button class="signup" ><a href="{% url 'signup' %}" style="color:black;text-decoration:none;">Sign up</a></button>

      </div>
      

      <div class="burger-menu">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="#e60023"/>
        </svg>
      </div>
    </nav>
  </header>

    
    



  <div class="heading">
    <span class="text">Get your next</span>

    <div class="wrapper">
      <div class="offset">
        <h2 class="text text-blue animate-before">Looks</h2>
      </div>
      <div class="offset">
        <h2 class="text text-green-light animate-before">children</h2>
      </div>
      <div class="offset">
        <h2 class="text text-yellow animate-before">Food</h2>
      </div>
      <div class="offset">
        <h2 class="text text-green-dark animate-before">Login</h2>
      </div>

      <div class="dots">
        <ul>
          <li>
            <button class="dot"></button>
          </li>
          <li>
            <button class="dot"></button>
          </li>
          <li>
            <button class="dot"></button>
          </li>
          <li>
            <button class="dot"></button>
          </li>                
        </ul>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid">
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look2.jpg' %}" alt="Look 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look3.jpg' %}" alt="Look 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look5.jpg' %}" alt="Look 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look7.jpg' %}" alt="Look 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look8.jpg' %}" alt="Look 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look3.jpg' %}" alt="Look 3">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look9.jpg' %}" alt="Look 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look2.jpg' %}" alt="Look 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look8.jpg' %}" alt="Look 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look3.jpg' %}" alt="Look 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look9.jpg' %}" alt="Look 9">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look9.jpg' %}" alt="Look 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look4.jpg' %}" alt="Look 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look2.jpg' %}" alt="Look 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look1.jpg' %}" alt="Look 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/look/look5.jpg' %}" alt="Look 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look6.jpg' %}" alt="Look 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look7.jpg' %}" alt="Look 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look8.jpg' %}" alt="Look 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/look/look3.jpg' %}" alt="Look 3">
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children1.jpg' %}" alt="Children 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children2.jpg' %}" alt="Children 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children3.jpg' %}" alt="Children 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children4.jpg' %}" alt="Children 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children5.jpg' %}" alt="Children 5">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children8.jpg' %}" alt="Children 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children9.jpg' %}" alt="Children 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children4.jpg' %}" alt="Children 4">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children4.jpg' %}" alt="Children 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children3.jpg' %}" alt="Children 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children9.jpg' %}" alt="Children 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children5.jpg' %}" alt="Children 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 9">
        </div>
        <div class="item">
          <img src="assets/children/children1.jpg" alt="Children 1">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children9.jpg' %}" alt="Children 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children1.jpg' %}" alt="Children 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children5.jpg' %}" alt="Children 5">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children4.jpg' %}" alt="Children 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children3.jpg' %}" alt="Children 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children9.jpg' %}" alt="Children 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children8.jpg' %}" alt="Children 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children7.jpg' %}" alt="Children 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/children/children6.jpg' %}" alt="Children 6">
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food1.jpg' %}" alt="Food 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food2.jpg' %}" alt="Food 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food3.jpg' %}" alt="Food 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food1.jpg' %}" alt="Food 1">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food5.jpg' %}" alt="Food 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food7.jpg' %}" alt="Food 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food8.jpg' %}" alt="Food 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food3.jpg' %}" alt="Food 3">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food9.jpg' %}" alt="Food 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food2.jpg' %}" alt="Food 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food1.jpg' %}" alt="Food 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food8.jpg' %}" alt="Food 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food1.jpg' %}" alt="Food 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food3.jpg' %}" alt="Food 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food9.jpg' %}" alt="Food 9">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food9.jpg' %}" alt="Food 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food4.jpg' %}" alt="Food 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food2.jpg' %}" alt="Food 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food1.jpg' %}" alt="Food 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/food/food5.jpg' %}" alt="Food 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food6.jpg' %}" alt="Food 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food7.jpg' %}" alt="Food 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food8.jpg' %}" alt="Food 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/food/food3.jpg' %}" alt="Food 3">
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home2.jpg' %}" alt="Home 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home3.jpg' %}" alt="Home 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home5.jpg' %}" alt="Home 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home7.jpg' %}" alt="Home 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home8.jpg' %}" alt="Home 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home3.jpg' %}" alt="Home 3">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home9.jpg' %}" alt="Home 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home2.jpg' %}" alt="Home 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home8.jpg' %}" alt="Home 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home3.jpg' %}" alt="Home 3">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home9.jpg' %}" alt="Home 9">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home9.jpg' %}" alt="Home 9">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home4.jpg' %}" alt="Home 4">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home2.jpg' %}" alt="Home 2">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home1.jpg' %}" alt="Home 1">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
      </div>
      <div class="column animate-before">
        <div class="item">
          <img src="{% static 'assets/home/home5.jpg' %}" alt="Home 5">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home6.jpg' %}" alt="Home 6">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home7.jpg' %}" alt="Home 7">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home8.jpg' %}" alt="Home 8">
        </div>
        <div class="item">
          <img src="{% static 'assets/home/home3.jpg' %}" alt="Home 3">
        </div>
      </div>
    </div>
  </div>

  <div class="page-scroll-arrow-bottom">
    <button class="arrow-button arrow-scroll-down-blue" onclick="moveTransform('down')">
      <svg class="gUZ erh U9O kVc" height="24" width="24" viewBox="0 0 24 24" aria-label="Arrow" role="img">
        <path d="M12 19.5L.66 8.29c-.88-.86-.88-2.27 0-3.14.88-.87 2.3-.87 3.18 0L12 13.21l8.16-8.06c.88-.87 2.3-.87 3.18 0 .88.87.88 2.28 0 3.14L12 19.5z">                  
        </path>
      </svg>
    </button>
  </div>

  <div class="modal-overlay">
    <div class="wrapper">
      <button class="arrow-up-button" onclick="moveTransform('up')">
        <svg class="gUZ pBj U9O kVc" height="24" width="24" viewBox="0 0 24 24" aria-label="Arrow" role="img">
          <path d="M21.75 19.5c-.58 0-1.15-.22-1.59-.65L12 10.79l-8.16 8.06c-.88.87-2.3.87-3.18 0a2.21 2.21 0 0 1 0-3.15L12 4.5l11.34 11.2c.88.87.88 2.28 0 3.15-.44.43-1.01.65-1.59.65">
          </path>
        </svg>
      </button>

      <div class="container-sign-up">
        <p>Sign up to get your ideas</p>

        <div class="form-sign-up">
          <div class="container-form">
            <div class="header">
              <svg class="gUZ lZJ U9O kVc" height="32" width="32" viewBox="0 0 24 24" aria-label="Pinterest logo">
                <path d="M0 12c0 5.123 3.211 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.401-5.938 1.401-5.938s-.357-.715-.357-1.774c0-1.66.962-2.9 2.161-2.9 1.02 0 1.512.765 1.512 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.239 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.378-.293 1.189-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.769 2.737-7.229 7.892-7.229 4.144 0 7.365 2.953 7.365 6.899 0 4.117-2.595 7.431-6.199 7.431-1.211 0-2.348-.63-2.738-1.373 0 0-.599 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12">
                </path>
              </svg>
            </div>

            <div class="title">
              <h3>Welcome to Pinterest</h3>
            </div>

            <div class="sub-title">
              <h3>Find new ideas to try</h3>
            </div>

            <div class="wrapper-form">
              <div class="content">
                <div class="input-container">
                  <input type="text" placeholder="E-mail">
                </div>
                <div class="input-container">
                  <input type="text" placeholder="Create a password">
                </div>
                <div class="input-container">
                  <input type="text" placeholder="Age">
                </div>

                <button class="button-continue">
                  Continue
                </button>

                <p class="other-options">
                  
                </p>

                <div class="social-sign-up">
                  <button class="button-social-sign-up button-social-sign-up-facebook">
                    Continue with Facebook
                  </button>
                  ok

                  <button class="button-social-sign-up button-social-sign-up-google">
                    Continue with Google
                  </button>
                </div>

                <div class="terms-and-conditions">                  
                  <span class="text">
                    <strong>Terms of Service</strong> and acknowledge that you've read our <strong> Privacy Policy</strong>
                  </span>
                </div>

                <div class="sign-in">
                  <span>
                    Already a member? Log in
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="sign-up-business">
            <div class="content">
              Are you a business?  Get started here!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Get the modal
    var modal = document.getElementById("div1");
    var body = document.getElementById("body");
    
    // Get the button that opens the modal
    var btn = document.getElementById("login");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
     // body.classList.add("blur");


    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";

    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>