<!-- header.html -->
<div class="pinterest">
    <div class="left">
      <a href="#" class="logo text-decoration-none"><i class="fab fa-pinterest"></i></a>
      <a href="#" class="home text-decoration-none">Home</a>
      <a href="#" class="to text-decoration-none text-dark">Today</a>
    </div>
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="search" name="" placeholder="search" id="">
    </div>
    <div class="right">
      <a href="#" class="items text-decoration-none"><i class="fas fa-bell "></i></a>
      <a href="#" class="items text-decoration-none"><i class="far fa-comment-dots"></i></a>
      <a href="#" class="avatar">
        <div class="img"><img src="https://images.unsplash.com/photo-1534308143481-c55f00be8bd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1488&q=80" alt=""></div>
      </a>
      <a href="#" class="items-down text-decoration-none"><i class="fas fa-chevron-down text-dark"></i></a>
    </div>
  </div>
  
  